@media (max-width: 1199px){

}

@media (max-width: 991px){
	.navbar-brand img {
		width: 130px;
	}
	.navbar{
		margin-top: 0;
	}
	.carousel-item h2 {
		font-size: 30px;
	}
	
	.carousel-item p {
		font-size: 16px;
	}
	.btn-dark {
		font-size: 13px;
	}
	.carousel-indicators li{
		 width: 15px;
         height: 10px;
	}
	.carousel-indicators .active{
		 width: 30px;
         height: 10px;
	}
	.product h1 a{
		font-size: 13px;
	}
	.product p {
		font-size: 13px;
	}


}   

@media (max-width: 767px){
	.carousel-item {
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}
	.carousel-item img {
		max-width: 350px;
	}
	.product h1 a{
		font-size: 15px;
	}
	.product p {
		font-size: 13px;
	}
	.product {
		margin-bottom: 30px;
	}
}

@media (max-width: 575px){
	.product h1 a{
		font-size: 13px;
	}
	.product p {
		font-size: 10px;
	}

	.btn-dark {
		font-size: 10px;
	}
	.categories a h3{
		font-size: 10px
	}
	.categories h1{
		font-size: 20px
	}
	.categories span {
		width: 60px;
		height: 5px;

	}
}
